@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<input @bind="userValue"/> // Användare input

<button class="btn btn-primary" @onclick="IncrementCount">Addition</button>
<button class="btn btn-primary" @onclick="DecreaseCount">Subtraktion</button>

<button class="btn btn-primary" @onclick="DivideCount">Division</button>

@code {
    private int userValue;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+=userValue;
    }

    private void DecreaseCount() {
        currentCount-=userValue;
    }

    private void DivideCount() {
        currentCount/=userValue;
    }
}
