@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<input @bind="userValue"/>
<p>@InputWarning</p>
<button class="btn btn-primary" @onclick="IncrementCount">Addition</button>
<button class="btn btn-primary" @onclick="DecreaseCount">Subtraktion</button>

<button class="btn btn-primary" @onclick="DivideCount">Division</button>

@code {
    private string InputWarning = string.Empty;
    private int userValue;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+=userValue;
        InputWarning = string.Empty;
    }

    private void DecreaseCount() {
        currentCount-=userValue;
        InputWarning = string.Empty;
    }

    private void DivideCount() {
        if (userValue == 0) { 
            InputWarning = "Cannot divide by zero";
        }
        else 
        {
        currentCount/=userValue;
        InputWarning = string.Empty;
        }
    }
}
